.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "LineFont";
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #252582;
}

.login-button button:active {
    background-color: #6060a6;
}

.login-container .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.login-button {
    align-items: center;
    padding: auto;
    display: flex;
    flex-direction: column;
}

.login-button button{
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}