body {
    padding: 50px;
    font-family: "LineFont";
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    max-width: 600px;
    margin: 100px auto 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container div {
    margin-bottom: 15px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.address-search .address-input-container {
    display: flex;
    position: relative; /* 추가: 버튼을 input 안에 넣기 위해 필요합니다 */
    margin-bottom: 15px; /* input과 간격을 맞추기 위해 추가 */
}

.address-search input {
    flex: 1; /* 너비를 flex: 1로 설정하여 버튼과 함께 조정되도록 합니다 */
    padding: 10px;
    padding-right: 50px; /* 추가: 버튼 공간 확보를 위해 padding 추가 */
    margin: 5px 0 10px 0; /* 다른 input과 간격을 맞추기 위해 추가 */
    border: 1px solid #ccc; /* 다른 input과 동일하게 설정 */
    border-radius: 5px; /* 다른 input과 동일하게 설정 */
    box-sizing: border-box; /* 다른 input과 동일하게 설정 */
}

.address-input-container .search-button {
    position: absolute; /* 추가: 버튼을 input 안에 위치시키기 위해 필요합니다 */
    right: 5px; /* 오른쪽 끝으로 정렬 */
    top: 50%; /* 세로 가운데 정렬 */
    transform: translateY(-60%); /* 세로 가운데 정렬을 위해 필요합니다 */
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 40px; /* 검색 버튼의 너비 */
    height: 30px; /* 입력 칸 높이 설정 */
}

.address-input-container .search-button:hover {
    background-color: white;
    color: #e60d0d;
}

.form-container button {
    font-family: "LineFont";
    width: 40%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center; /* 버튼을 중앙에 정렬 */
    align-items: center;
    margin: 0 auto 15px auto; /* 버튼을 컨테이너 내에서 중앙 정렬 */
}

.form-container button:hover {
    background-color: #45a049;
}
