.file-back-container button{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.file-back-container button:hover{
    background-color: #252582; 
}

.file-back-container button:active{
    background-color: #6060a6; 
}

.title-name {
    margin-top: 80px;
    font-family: "LineFont";
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    box-sizing: content-box; /* Ensure the input width includes the padding */
}