.file-list-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: "LineFont";
    height: 100%;
    width: 60%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.file-list-container .table {
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.file-list-container .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.file-button-container button{
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.file-button-container button:hover{
    background-color: #252582; 
}

.file-button-container button:active{
    background-color: #6060a6; 
}

.table-list-container {
    border: 1px solid #ddd;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: "LineFont";
    height: 100%;
    width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.table-list-title {
    text-align: center;
    margin-bottom: 20px;
}

.table-list-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.add-table-button {
    cursor: pointer;
}

.table-list-container table {
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.table-list-container th, .table-list-container td {
    border: 1px solid #ddd;
    text-align: center;
    align-items: center;
    padding: 5px;
}

.table-button-container button{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.table-button-container button:hover{
    background-color: #252582; 
}

.table-button-container button:active{
    background-color: #6060a6; 
}

.file-back-container button{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.file-back-container button:hover{
    background-color: #252582; 
}

.file-back-container button:active{
    background-color: #6060a6; 
}

.excel-editor {
    display: grid;
    grid-template-columns: 75% 25%; /* 왼쪽에 테이블, 오른쪽에 컨트롤 */
    gap: 20px;
    padding: 20px;
    font-family: "LineFont";
}

.table-section {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    font-family: "LineFont";
}

.table-data-container {
    max-width: 100%;
    height: 100%;
    overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
    border-width: 0;
    font-family: "LineFont";
}

.table-data-container .db-table {
    width: 100%;
    border-collapse: collapse;
}

.db-table th, .db-table td {
    border: 1px solid #ddd;
    padding:5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    height: 20px;
}

.db-table input {
    border: none;
    text-align: center;
}

.control-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "LineFont";
    position: fixed;
    /* Adjust this as needed depending on your header's height */
    right: 70px;
    /* Aligns the section to the right edge of the viewport */
    width: 15%;
    /* Specifies the width of the controls section */
    height: 600px;
    /* Fixed height, can adjust if needed */
    background-color: white;
    /* Optional: sets a background color */
    z-index: 1000;
    border: 1px solid #ddd;
    /* Ensures it stays on top of other content */
}

.control-section .button-group {
    margin-top: 10px;
}

.control-section .save-button-group {
    margin-top: auto; 
}

.table-back-container button{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.table-back-container button:hover{
    background-color: #252582; 
}

.table-back-container button:active{
    background-color: #6060a6; 
}

.tableTitle {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "LineFontBold";
}

.selected-cell-info {
    outline: none;
    /* 포커스 시 아웃라인 제거 */
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    /* 패딩을 포함한 박스 크기 계산 */
    font-family: "LineFont";
    text-align: center;
}

.selected-header-info {
    outline: none;
    /* 포커스 시 아웃라인 제거 */
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    /* 패딩을 포함한 박스 크기 계산 */
    font-family: "LineFont";
    text-align: center;
}

.highlight-cell {
    background-color: #9090cb; /* 하이라이트 색상을 노란색으로 지정합니다. 필요에 따라 변경할 수 있습니다. */
}

.table .trash-icon {
    cursor: pointer;
    color: black; /* 기본 색상 */
    transition: color 0.3s;
    border: none;
    background-color: white;
}

.table .trash-icon:hover {
    color: rgb(215, 60, 18); /* 호버 시 빨간색 */
}

.table .trash-icon:active {
    color: red;
}

.control-section button {
    margin-top: 0; /* 기존 margin-top을 제거 */
    margin-right: 5px;
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.control-section button:hover {
    background-color: #252582;
}

.control-section button:active {
    background-color: #6060a6; 
}

.control-section .save-button {
    margin-top: 0; /* 기존 margin-top을 제거 */
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-bottom: 10px; /* 토글 스위치와 저장 버튼 사이의 간격 */
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #6060a6;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.toggle-container {
    display: flex;
    align-items: center; /* 아이템들을 세로로 가운데 정렬 */
}

.question {
    font-size: 24px; /* 원하는 크기로 설정 */
    color: gray; /* 색상을 회색으로 설정 */
    margin-left: 5px; /* 토글 스위치와의 간격 설정 */
    margin-bottom: 5px;
    cursor: pointer;
}

.question:hover {
    color:#6060a6
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: 120px; /* 말풍선의 너비 설정 */
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 13px;

    /* 말풍선 위치 */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 아이콘 위에 말풍선 위치 */
    left: 50%;
    margin-left: -60px; /* 말풍선을 가운데로 맞추기 위해 조정 */

    /* 말풍선 화살표 */
    opacity: 0; /* 초기 상태에서는 숨김 */
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1; /* 호버 시 말풍선 표시 */
}

.table-name-container, 
.edit-name-container,
.file-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-name-container input, 
.edit-name-container input {
    margin-right: 5px;
    font-family: "LineFont";
}

.edit-table-button, 
.save-table-button,
.edit-file-button,
.save-file-button {
    cursor: pointer;
    margin-left: 5px;
}

.header-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-icon {
    cursor: pointer;
    margin-left: 5px;
    font-size: 25px;
    margin-bottom: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination-icon {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
}

.pagination-icon[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.file-name {
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.file-name:hover {
    color: blue;
    text-decoration: underline;
}

.empty-row td {
    height: 48px; /* Ensure this matches the height of your filled rows */
    border: 1px solid #ddd;
    text-align: center;
}

.table-name {
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.table-name:hover {
    color: blue;
    text-decoration: underline;
}