.file-list-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: "LineFont";
    height: 100%;
    width: 60%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.file-list-container .table {
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.file-list-container .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.file-button-container button{
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.file-button-container button:hover{
    background-color: #252582; 
}

.file-button-container button:active{
    background-color: #6060a6; 
}

.table-list-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: "LineFont";
    height: 100%;
    width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.table-list-container table {
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
}

.table-list-container th, .table-list-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.table-button-container button{
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.table-button-container button:hover{
    background-color: #252582; 
}

.table-button-container button:active{
    background-color: #6060a6; 
}

.file-back-container button{
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.file-back-container button:hover{
    background-color: #252582; 
}

.file-back-container button:active{
    background-color: #6060a6; 
}

.table-data-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    font-family: "LineFont";
    max-width: 80%;
    height: 100%;
    overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
    border-width: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.table-data-container .db-table {
    width: 100%;
    border-collapse: collapse;
}

.db-table th, .db-table td {
    border: 1px solid #ddd;
    padding: 8px;
    align-items: center;
    justify-content: center;
}
