.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.drop-area {
    width: 400px;
    height: 300px;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.hidden-input {
    display: none;
}

.label {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #4590df;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.drop-text {
    color: #666;
}

.upload-button {
    padding: 10px 20px;
    background-color: #71ce74;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.message {
    margin-top: 20px;
    font-size: 16px;
    color: #ff0000;
    text-align: center;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 10px;
}

.progress-bar-fill {
    height: 20px;
    background-color: #71ce74;
    width: 0%;
    border-radius: 5px;
    text-align: center;
    color: white;
    transition: width 0.4s ease;
}