.file-list-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: "LineFont";
    width: 60%; /* 중앙에 오게 너비를 조절 */
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    position: relative;
    transition: width 0.5s ease, transform 0.5s ease; /* 너비와 위치 변화 애니메이션 */
}

.file-details {
    position: fixed;
    top: 0;
    right: -100%; /* 초기 위치를 화면 밖으로 설정 */
    height: 100%;
    width: 20%; /* 필요에 따라 너비 조절 */
    background-color: white;
    padding: 20px;
    box-shadow: -2px 0 5px #ddd;
    overflow-y: auto;
    z-index: 1000; /* 다른 요소들 위에 표시되도록 설정 */
    font-family: "LineFont";
    transition: right 0.5s ease; /* 위치 변화 애니메이션 */
}

.file-details.visible {
    right: 0; /* visible 클래스가 추가되면 화면 안으로 이동 */
}

.file-detail-container {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.file-list-container.expanded {
    width: 40%; /* file-details와 함께 보여질 때 너비 조절 */
    transform: translateX(-30%); /* 왼쪽으로 이동 */
}

.file-list-content {
    display: flex;
    width: 100%;
}

.file-list {
    width: 100%;
}



.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.table .selected td {
    background-color: rgb(228, 228, 228);
}

.detail-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.detail-table td {
    padding: 5px;
    border: 1px solid #ddd;
}

.detail-table .details-td {
    white-space: nowrap;
}

.edit-name-container,
.file-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.edit-name-container span {
    font-family: "LineFont";
    vertical-align: middle;
}

.edit-name-container input {
    font-family: "LineFont";
}

.edit-file-button,
.save-file-button {
    cursor: pointer;
    margin-left: 5px;
    transition: color 0.5s;
    padding: 10px;
}

.save-file-button {
    font-size: 24px;
}

.edit-file-button {
    margin-bottom: 3px;
    font-size: 18px;
}

.edit-file-button:hover,
.save-file-button:hover {
    color: cornflowerblue;
}

.edit-file-button:active,
.save-file-button:active {
    color: blue;
}

.table-view-button {
    background-color: #060429;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.5s ease;
    margin-top: 10px;
    font-family: "LineFont";
}

.table-view-button:hover {
    background-color: #252582;
    transform: scale(1.05);
}

.table-view-button:active {
    background-color: #6060a6;
}

.table-view-button:disabled {
    background-color: white;
    cursor: auto;
    transform: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination-icon {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
}

.pagination-icon[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.file-name {
    cursor: pointer;
    transition: color 0.5s ease, text-decoration 0.5s ease;
}

.trash-icon {
    font-size: 16px;
    cursor: pointer;
    color: black;
    transition: color 0.5s;
    border: none;
    background-color: white;
    padding: 10px;
}

.trash-icon:hover {
    color: rgb(215, 60, 18);
}

.trash-icon:active {
    color: red;
}

.file-action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.file-list-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 5px;
    position: relative; /* 자식 요소를 기준으로 위치 설정 */
}

.file-list-header .search-container {
    display: flex;
    align-items: center;
    vertical-align: middle;
    position: absolute; /* 부모 요소를 기준으로 위치 설정 */
    left: 50%; /* 부모 요소의 왼쪽에서 50% 이동 */
    transform: translateX(-50%); /* 자신의 너비의 50%만큼 왼쪽으로 이동 */
    font-family: "LineFont";
}

.file-list-header .search-container input {
    padding: 5px 5px; /* 텍스트와 아이콘 간격 확보 */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "LineFont";
    padding-right: 30px; /* 아이콘 공간 확보 */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.file-list-header .search-container .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-80%); /* 아이콘을 중앙 정렬 */
    font-size: 18px;
    color: #aaa;
}

.file-list-header .add-container {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 요소들을 수직 정렬 */
    margin-left: auto;
    cursor: pointer;
}

.file-list-header .add-container span {
    margin-left: 5px;
    margin-right: 10px;
}

.file-list-header .search-container input {
    flex: 1;
    padding: 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
}

.delete-file-container {
    margin-top: auto;
    display: flex;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.file-list p {
    text-align: center;
}

.add-file-icon {
    transition: color 0.5s ease;
}

.add-file-icon:hover {
    color: cornflowerblue;
}

.add-file-icon:active {
    color: blue;
}
