.file-list-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: "LineFont";
    height: 100%;
    width: 60%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.edit-name-container,
.file-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-name-container input {
    margin-right: 5px;
    font-family: "LineFont";
}

.edit-file-button,
.save-file-button {
    cursor: pointer;
    margin-left: 5px;
    font-size: 18px;
    transition: color 0.3s;
}

.edit-file-button:hover,
.save-file-button:hover {
    color: cornflowerblue;
}

.edit-file-button:active,
.save-file-button:active {
    color: blue;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination-icon {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
}

.pagination-icon[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.file-name {
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.file-name:hover {
    color: blue;
    text-decoration: underline;
}

.trash-icon {
    font-size: 16px;
    cursor: pointer;
    color: black; /* 기본 색상 */
    transition: color 0.3s;
    border: none;
    background-color: white;
}

.trash-icon:hover {
    color: rgb(215, 60, 18); /* 호버 시 빨간색 */
}

.trash-icon:active {
    color: red;
}

.search-container {
    font-family: "LineFont";
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-container .search-icon {
    margin-left: 10px;
}

.search-container input {
    flex: 1;
    padding: 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}