#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: white;
  box-shadow: 0 4px 6px rgb(250, 250, 250);
}

.header__inner {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center;
  padding: 10px;
  font-family: "LineFont";
  position: relative; /* login-icon-container 위치 조정을 위해 추가 */
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: "LineFont";
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin: 0 15px;
}

.nav__item a {
  color: rgb(65, 60, 60);
  text-decoration: none;
  font-family: "LineFont";
  transition: color 0.3s ease-in-out;
}

.nav__item a:hover {
  font-family: "LineFontBold";
}

.login-icon-container {
  position: absolute; /* 중앙 정렬을 위해 absolute 위치 사용 */
  right: 10px; /* 오른쪽으로 아이콘 위치 조정 */
}

.login-icon {
  font-size: 20px;
  cursor: pointer;
  color: #343a40;
}

.home-icon-container {
  font-size: 20px;
  vertical-align: center;
  cursor: pointer;
}
