.excel-editor {
    display: grid;
    grid-template-columns: 75% 25%; /* 왼쪽에 테이블, 오른쪽에 컨트롤 */
    gap: 20px;
    padding: 20px;
    font-family: "LineFont";
}

.table-section {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    font-family: "LineFont";
}

.table-data-container {
    max-width: 100%;
    height: 100%;
    overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
    font-family: "LineFont";
    position: relative; /* 새로운 속성 추가 */
}

.table-data-container .db-table {
    width: 100%;
    border-collapse: collapse;
}

.db-table th, .db-table td {
    border: 1px solid #ddd;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Prevent line breaks */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
}

.db-table th {
    position: sticky;
    top: 0;
    z-index: 1; /* 새로운 속성 추가 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    resize: horizontal;
}

.db-table td:first-child {
    position: sticky;
    left: -1px;
    padding: 10px;
    background-color: #e1e1e6; /* 필요 시 배경색을 조정 */
    z-index: 2; /* 새로운 속성 추가 */
}

.db-table th:first-child {
    top: 0;
    padding: 10px;
    border-collapse: collapse;
    background-clip: border-box;
    position: sticky;
    background-color: #e1e1e6; /* 필요 시 배경색을 조정 */
    z-index: 4; /* 헤더 셀의 z-index를 높게 설정하여 내용 셀보다 위에 위치하도록 함 */
}

.db-table input {
    border: none;
    text-align: center;
    font-family: "LineFont";
    text-overflow: ellipsis; /* Display ellipsis for overflow text in input fields */
    white-space: nowrap; /* Prevent line breaks in input fields */
}

.control-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "LineFont";
    position: fixed;
    /* Adjust this as needed depending on your header's height */
    right: 70px;
    /* Aligns the section to the right edge of the viewport */
    width: 15%;
    /* Specifies the width of the controls section */
    height: 600px;
    /* Fixed height, can adjust if needed */
    background-color: white;
    /* Optional: sets a background color */
    z-index: 1000;
    border: 1px solid #ddd;
    /* Ensures it stays on top of other content */
}

.control-section .button-group {
    margin-top: 10px;
}

.control-section .save-button-group {
    margin-top: auto; 
}

.table-back-container button {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.table-back-container button:hover {
    background-color: #252582; 
}

.table-back-container button:active {
    background-color: #6060a6; 
}

.tableTitle {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "LineFontBold";
}

.selected-cell-info {
    outline: none;
    /* 포커스 시 아웃라인 제거 */
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    /* 패딩을 포함한 박스 크기 계산 */
    font-family: "LineFont";
    text-align: center;
}

.selected-header-info {
    outline: none;
    /* 포커스 시 아웃라인 제거 */
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    /* 패딩을 포함한 박스 크기 계산 */
    font-family: "LineFont";
    text-align: center;
}

.highlight-cell {
    background-color: #9090cb; /* 하이라이트 색상을 노란색으로 지정합니다. 필요에 따라 변경할 수 있습니다. */
}

.control-section button {
    margin-top: 0; /* 기존 margin-top을 제거 */
    margin-right: 5px;
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.control-section button:hover {
    background-color: #252582;
}

.control-section button:active {
    background-color: #6060a6; 
}

.control-section .save-button {
    margin-top: 0; /* 기존 margin-top을 제거 */
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-bottom: 10px; /* 토글 스위치와 저장 버튼 사이의 간격 */
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #6060a6;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.toggle-container {
    display: flex;
    align-items: center; /* 아이템들을 세로로 가운데 정렬 */
}

.question {
    font-size: 24px; /* 원하는 크기로 설정 */
    color: gray; /* 색상을 회색으로 설정 */
    margin-left: 5px; /* 토글 스위치와의 간격 설정 */
    margin-bottom: 5px;
    cursor: pointer;
}

.question:hover {
    color:#6060a6
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: 120px; /* 말풍선의 너비 설정 */
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 13px;

    /* 말풍선 위치 */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 아이콘 위에 말풍선 위치 */
    left: 50%;
    margin-left: -60px; /* 말풍선을 가운데로 맞추기 위해 조정 */

    /* 말풍선 화살표 */
    opacity: 0; /* 초기 상태에서는 숨김 */
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1; /* 호버 시 말풍선 표시 */
}

.highlight-cell {
    background-color: #f0f2fa; /* 하이라이트 셀의 배경색을 흰색으로 설정 */
}

.highlight-cell input {
    background-color: #f0f2fa; /* 하이라이트 셀 내의 input 창의 배경색을 하늘색으로 설정 */
    border: none;
}

.highlight-row {
    background-color: #d4f2fb; /* 연한 하늘색 */
}

.highlight-input, .highlight-input:focus {
    outline: none; /* input 창이 포커스될 때 outline 제거 */
    border:none;
}

.button-group button:disabled, 
.save-button-group button:disabled {
    background-color: #ccc; /* 비활성화된 버튼의 배경색을 회색으로 설정 */
    cursor: not-allowed; /* 커서를 금지 모양으로 변경 */
    color: #666; /* 비활성화된 버튼의 텍스트 색상도 변경 */
}

.highlight-cell-border {
    border: 2px solid #6060a6 !important; /* Adjust the color and width as needed */
}

.highlight-cell-background {
    background-color: white !important; /* Ensure the background color is white */
}

.highlight-cell-background input {
    background-color: white;
}

.excel-editor .back-icon {
    position: absolute;
    margin-top: 170px;
    top: 10px;
    left: 30px;
    cursor: pointer;
    font-size: 24px; /* Adjust the size as needed */
    z-index: 10; /* Ensure it's on top of other elements */
}
