.excel-editor {
    display: grid;
    grid-template-columns: 80% 20%; /* 왼쪽에 테이블, 오른쪽에 컨트롤 */
    gap: 20px;
    padding: 20px;
    font-family: "LineFont";
    overflow: hidden; /* 웹페이지 전체에 스크롤이 생기지 않도록 설정 */
}

.title-name {
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: "LineFontBold";
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    box-sizing: content-box; /* Ensure the input width includes the padding */
}

.current-version {
    font-size: 16px; /* 폰트 크기를 16px로 줄임 */
    font-family: "LineFontBold";
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 가운데 정렬 */
    text-align: center;
    white-space: nowrap;
    box-sizing: content-box;
    opacity: 0.4; /* 반투명하게 설정 */
}

.table-section {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    font-family: "LineFont";
    overflow: auto; /* table-section에 스크롤 적용 */
    height: 620px; /* 높이를 화면 높이에 맞추고 padding을 뺀 값 */
}

.table-data-container {
    max-width: 100%;
    height: 100%;
    overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
    font-family: "LineFont";
    position: relative; /* 새로운 속성 추가 */
}

.db-table {
    width: 100%;
    border-collapse: collapse;
}

.db-table th, .db-table td {
    border: 1px solid #ddd;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Prevent line breaks */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
    padding: 5px;
}

.db-table th {
    border: 1.5px solid #f3f3f3;
    position: sticky;
    top: -1px;
    padding: 3px;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    resize: horizontal;
    background-color: rgb(205, 205, 205); /* 필요 시 배경색을 조정 */
    z-index: 4; /* 헤더 셀의 z-index를 높게 설정하여 내용 셀보다 위에 위치하도록 함 */
}

.db-table .first-column {
    background-color: white;
}

.db-table input {
    border: none;
    text-align: center;
    font-family: "LineFont";
    text-overflow: ellipsis; /* Display ellipsis for overflow text in input fields */
    white-space: nowrap; /* Prevent line breaks in input fields */
}

.db-table th input {
    background-color: rgb(205, 205, 205);
}

.control-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "LineFont";
    position: fixed;
    right: 70px;
    width: 15%;
    height: 600px;
    background-color: white;
    z-index: 1000;
    border: 1px solid #ddd;
}

.control-section.disabled {
    pointer-events: none; /* Disable all pointer events */
    opacity: 0.5; /* Make it appear disabled */
    cursor: not-allowed;
}

.button-group, .save-button-group {
    margin-top: 10px;
}

.control-section .save-button-group {
    margin-top: auto; 
}

.tableTitle {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "LineFontBold";
}

.selected-cell-info {
    outline: none;
    /* 포커스 시 아웃라인 제거 */
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    /* 패딩을 포함한 박스 크기 계산 */
    font-family: "LineFont";
    text-align: center;
}

.selected-header-info {
    outline: none;
    /* 포커스 시 아웃라인 제거 */
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    /* 패딩을 포함한 박스 크기 계산 */
    font-family: "LineFont";
    text-align: center;
}

.control-section button {
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "LineFont";
}

.save-button {
    background-color: #060429;
    color: white;
}

.save-button:hover {
    background-color: #252582;
}

.save-button:active {
    background-color: #6060a6;
}

.highlight-cell {
    background-color: #f3f3f3; /* 하이라이트 셀의 배경색을 흰색으로 설정 */
}

.highlight-cell input {
    background-color: #f3f3f3; /* 하이라이트 셀 내의 input 창의 배경색을 하늘색으로 설정 */
    border: none;
}

.highlight-input, .highlight-input:focus {
    outline: none; /* input 창이 포커스될 때 outline 제거 */
    border: none;
}

.button-group button:disabled, 
.save-button-group button:disabled {
    background-color: #ccc; /* 비활성화된 버튼의 배경색을 회색으로 설정 */
    cursor: not-allowed; /* 커서를 금지 모양으로 변경 */
    color: #666; /* 비활성화된 버튼의 텍스트 색상도 변경 */
}

.highlight-cell-border {
    border: 2px solid #646464 !important; /* Adjust the color and width as needed */
}

.highlight-cell-background {
    background-color: white !important; /* Ensure the background color is white */
}

.highlight-cell-background input {
    background-color: white;
}

.excel-editor-container {
    margin-top: 10px;
}

.excel-editor-container .back-icon {
    cursor: pointer;
    font-size: 24px; /* Adjust the size as needed */
    z-index: 10; /* Ensure it's on top of other elements */
    transition: color 0.3s;
    font-family: "LineFont";
}

.add-button {
    background-color: #0b0747;
    color: white;
    margin-right: 5px;
}

.add-button:hover {
    background-color: #252582;
}

.delete-button {
    background-color: #d35e2c;
    color: white;
    margin-left: 5px;
}

.delete-button:hover {
    background-color: #f08461;
}

.back-button-container {
    margin-top: auto;
    margin-left: 20px;
    display: flex;
    cursor: pointer;
    width: 200px;
}

.back-button-container span {
    margin-left: 5px;
    margin-top: 3px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.version-note {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.version-note > div {
    width: 100%;
    margin-bottom: 10px;
}

.note-textarea {
    width: 100%;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    resize: none;
    font-family: "LineFont";
}

.version-note div {
    display: flex;
    width: 100%;
    align-items: flex-start; /* 왼쪽 정렬 */
    align-items: center;
}

.version-note .file-info-label {
    white-space: nowrap; /* 라벨이 줄바꿈 되지 않도록 설정 */
    margin-right: 5px; /* 라벨과 입력 필드 사이 간격 */
    margin-left: 10px;
    font-family: "LineFont";
}

.version-note input {
    flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
    margin-right: 10px;
    font-family: "LineFont";
}