.Rowcontrols,
.Colcontrols,
.Tablecontrols {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 300px; 
  justify-content: space-between;
}

.Rowcontrols input,
.Colcontrols input,
.Tablecontrols input {
  flex: 1;
  margin-right: 10px; 
}

.Rowcontrols button,
.Colcontrols button,
.Tablecontrols button {
  flex: none;
  margin-left: 5px;
}

.merge-button {
  width: 100%;
}
