.home-container {
    width: 100%;
    position: relative;
    height: 100vh; /* 패딩을 고려한 높이 설정 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; /* 박스 사이즈 보더 박스로 설정 */
}

.home-container .auth-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

.home-container .auth-button {
    background-color: #060429;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.5s ease, transform 0.5s ease;
    margin-top: 10px;
    margin-left: 15px;
    font-family: "LineFontBold";
    text-decoration: none; /* 밑줄 제거 */
}

.home-container .auth-button:hover {
    background-color: #252582;
    transform: scale(1.05);
}

.home-container .auth-button:active {
    background-color: #6060a6;
}

.home-container .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* 버튼 사이 간격 조정 */
}

.home-container .main-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.home-container .icon-1, .icon-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px; /* 버튼 너비 */
    height: 500px; /* 버튼 높이 */
    padding: 40px; /* 패딩 추가 */
    margin: 20px;
    font-size: 28px;
    text-align: center;
    border-radius: 20px; /* 모서리를 더 둥글게 */
    font-family: "LineFontBold";
    color: white; /* 텍스트 색상 */
    text-decoration: none; /* 밑줄 제거 */
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

.home-container .icon-1 {
    background-color: #0b0747;
}

.home-container .icon-2 {
    background-color: #d35e2c;
}

.home-container .icon-1:hover, .icon-2:hover {
    transform: scale(1.03);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.home-container .icon-1:active, .icon-2:active {
    transform: scale(0.95);
}

.home-container .icon {
    margin-bottom: 20px;
    font-size: 80px; /* 아이콘 크기 */
}

.home-container .text {
    font-size: 36px;
}
