.table-list-container {
    border: 1px solid #ddd;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: "LineFont";
    height: 100%;
    width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.table-list-title {
    text-align: center;
    margin-bottom: 20px;
}

.table-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-list-header .back-icon {
    margin-right: 5px;
    cursor: pointer;
    transition: color 0.3s;
}

.back-icon:hover {
    color: cornflowerblue;
}

.table-list-header .add-table-button {
    cursor: pointer;
    margin-right: 5px;
    transition: color 0.3s;
}

.add-table-button:hover {
    color: cornflowerblue;
}

.table-list-container table {
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.table-list-container th, .table-list-container td {
    border: 1px solid #ddd;
    text-align: center;
    align-items: center;
    padding: 5px;
}

.table-name-container, 
.edit-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-table-button, 
.save-table-button {
    transition: color 0.3s;
    cursor: pointer;
    margin-left: 5px;
}

.edit-table-button:hover, 
.save-table-button:hover {
    color: cornflowerblue;
}

.edit-table-button:active, 
.save-table-button:active {
    color: blue;
}

.header-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-icon {
    cursor: pointer;
    margin-left: 5px;
    font-size: 25px;
    margin-bottom: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination-icon {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
}

.pagination-icon[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.table-name {
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.table-name:hover {
    color: blue;
    text-decoration: underline;
}

.search-container {
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.search-container .search-icon {
    margin-right: 10px;
}

.search-container input {
    font-family: "LineFont";
    font-size: 16px;
    border: 1px solid #ccc;
}

.back-container, .add-container {
    display: flex;
}

.back-container span, .add-container span {
    margin-top: 3px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}
