.editable-file-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.editable-file-name input {
    padding: 5px;
    font-size: 1rem;
}

.editable-file-name button {
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #060429;
    color: white;
    border: none;
    border-radius: 3px;
}

.editable-file-name button:hover {
    background-color: #252582;
}