.excel-editor-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  font-family: "LineFont";
  height: 100%;
}

.editor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "LineFontBold";
  margin-top: 40px;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  position: relative;
}

.editor-header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.excel-editor {
  display: grid;
  grid-template-columns: 4fr 1fr; /* 왼쪽에 테이블, 오른쪽에 컨트롤 */
  gap: 20px;
  padding: 20px;
  font-family: "LineFont";
  height: 100%; /* 화면 높이에서 상단과 하단 여백을 뺀 높이 */
}

.table-section {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
  font-family: "LineFont";
  overflow: hidden;
  height: 70%;
}

.controls-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "LineFont";
  background-color: white;
  z-index: 1000;
  overflow: hidden;
  height: 70%;
}

.controls-section .controls-content {
  width: 100%;
  height: 100%;
}

.controls-section input {
  border: 1px solid #ccc; /* 연한 회색 테두리 */
  outline: none; /* 포커스 시 아웃라인 제거 */
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px; /* 둥근 테두리 */
  width: 100%; /* 부모의 너비에 맞춤 */
  box-sizing: border-box; /* 패딩을 포함한 박스 크기 계산 */
  font-family: "LineFont";
}

.controls-section button {
  background-color: #060429; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 5px; 
  margin-right: 5px;
  font-size: 12px; 
  cursor: pointer;
  transition: background-color 0.3s; 
  font-family: "LineFont";
}

.controls-section button:hover {
  background-color: #252582; 
}

.controls-section button:active {
  background-color: #6060a6; 
}

.controls-section button:focus {
  outline: none; 
}

.table-container {
  max-width: 100%;
  height: 100%;
  overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
  border-width: 0;
  font-family: "LineFont";
  text-align: center;
}

.table-container input {
  border: none;
  outline: none;
  font-family: "LineFont";
  text-overflow: ellipsis;
  text-align: center;
}

.table-container .table {
  width: 100%;
  border-collapse: collapse;
}

.table-container .table th, .table-container .table td {
  border: 1px solid #ddd;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.sheet-navigation {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 중앙에 정렬 */
  gap: 10px;
}

.sheet-navigation button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  box-shadow: none; 
}

.sheet-navigation button:hover,
.sheet-navigation button:active,
.sheet-navigation button:focus {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.nav-icon {
  font-size: 1.5rem;
}

.controls-section .Tablecontrols,
.controls-section .Rowcontrols,
.controls-section .Colcontrols,
.controls-section .ColumnRanges,
.controls-section .upload-button {
  margin-bottom: 20px;
  width: 100%; /* 부모의 너비에 맞춤 */
}

.controls-section .ColumnRanges {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* 부모의 너비에 맞춤 */
}

.controls-section .ColumnRanges input {
  margin-top: 5px;
}

.controls-section .ColumnRanges button {
  margin: 15px;
  align-items: center;
  width: 100%; /* 부모의 너비에 맞춤 */
}

.hovered-cell-info {
  margin-top: 20px;
  font-weight: bold;
}

.highlight-cell {
  background-color: #f0f2fa; 
}

.highlight-row-column {
  background-color: #f0f2fa; /* 선택된 셀에 해당하는 행과 열의 셀들 배경색 설정 */
}

.highlight-row-column input {
  background-color: #f0f2fa;
}

.highlight-cell input {
  background-color: #f0f2fa;
  border: none;
}

.highlight-cell-border {
  border: 2px solid #6060a6 !important; /* Adjust the color and width as needed */
}

.highlight-cell-background {
  background-color: white !important; /* Ensure the background color is white */
}

.highlight-row {
  background-color: #d4f2fb;
}

.highlight-input, .highlight-input:focus {
  outline: none; 
  border: none;
}

.highlight-row-range th:first-child {
  border-left: 2px dashed cornflowerblue;
}

.highlight-row-range td:last-child {
  border-right: 2px dashed cornflowerblue;
}

.highlight-row-range-start {
  border-top: 2px dashed cornflowerblue;
}

.highlight-row-range-end {
  border-bottom: 2px dashed cornflowerblue;
}

.controls-section .upload-button {
  width: 100%;
}

.download-button {
  width: 100%;
}
