.excel-editor {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(200px, 1fr); /* 왼쪽에 테이블, 오른쪽에 최소 200px 컨트롤 */
  gap: 20px;
  padding: 20px;
}

.table-section {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.controls-section {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 80px;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.table-container {
  max-width: 100%;
  height: 500px;
  overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
  border-width: 0;
}

.table-container input{
  border: none;
  outline: none;
}


.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.sheet-navigation {
  margin-top: 20px; /* 테이블과의 간격을 위해 여백 추가 */
  display: flex;
  justify-content: space-between;
}

.controls-section .Tablecontrols,
.controls-section .Rowcontrols,
.controls-section .Colcontrols,
.controls-section .ColumnRanges,
.controls-section .db-upload-button {
  margin-bottom: 20px;
}

.hovered-cell-info {
  margin-top: 20px;
  font-weight: bold;
}