.excel-editor {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(200px, 1fr); /* 왼쪽에 테이블, 오른쪽에 최소 200px 컨트롤 */
  gap: 20px;
  padding: 20px;
}

.table-section {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.controls-section {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 80px;
  align-items: center;
  padding: 20px;
}

.controls-section input {
  border: 1px solid #ccc; /* 연한 회색 테두리 */
  outline: none; /* 포커스 시 아웃라인 제거 */
  padding: 8px;
  border-radius: 5px; /* 둥근 테두리 */
  width: 100%;
  box-sizing: border-box; /* 패딩을 포함한 박스 크기 계산 */
}

/* 컨트롤 섹션 내의 버튼 스타일 */
.controls-section button {
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px; 
  font-size: 12px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.controls-section button:hover {
  background-color: #45a049; 
}

.controls-section button:active {
  background-color: #3e8e41; 
}

.controls-section button:focus {
  outline: none; 
}

.table-container {
  max-width: 100%;
  height: 550px;
  overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
  border-width: 0;
}

.table-container input {
  border: none;
  outline: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  align-items: center;
  justify-content: center;
}

.sheet-navigation {
  margin-top: 20px; /* 테이블과의 간격을 위해 여백 추가 */
  display: flex;
  justify-content: space-between;
}

.controls-section .Tablecontrols,
.controls-section .Rowcontrols,
.controls-section .Colcontrols,
.controls-section .ColumnRanges,
.controls-section .upload-button {
  margin-bottom: 20px;
}

.controls-section .ColumnRanges {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-section .ColumnRanges button {
  margin: 15px;
  align-items: center;
}

.hovered-cell-info {
  margin-top: 20px;
  font-weight: bold;
}